@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-color: #fafafa;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
}

.navbar-default {
    background-color: #337ab7;
    border-color: #e7e7e7;
}

.navbar-default .navbar-brand {
    color: #f5f5f5;
}

.navbar-default .navbar-nav > li > a {
    color: #f5f5f5;
    font-size: 18px;
}

.imporMsg {
    width: 100%;
    text-align: center;
    color: red;
    font-size: 20px;
    font-weight: bold;
}