<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="cacheEnabled" value="false"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="defaultExecutorType" value="REUSE"/>
    </settings>

    <typeAliases>
        <package name="com.qunar.echarts.model"/>
    </typeAliases>

    <!--<typeHandlers>-->
        <!--<typeHandler javaType="org.joda.time.DateTime" jdbcType="TIMESTAMP" handler="com.qunar.echarts.util.DateTimeTypeHandler"/>-->
    <!--</typeHandlers>-->

    <!-- 分页插件 -->
    <plugins>
        <plugin interceptor="com.qunar.base.meerkat.orm.mybatis.support.ResultSetHandlerInterceptor"/>
        <plugin interceptor="com.qunar.base.meerkat.orm.mybatis.support.StatementHandlerInterceptor"/>
    </plugins>

</configuration>  